<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">
    <router-outlet></router-outlet>
    <app-footer>
      <div>
        Copyright © 2011-{{appInfo.currentYear}} {{appInfo.title}} Inc.
        <br/>
        All trademarks or registered trademarks are property of their respective owners.
      </div>
      <div>
        <dx-button text="Toggle Header Button 1" (onClick)="toggleButton1()" />
        <dx-button text="Toggle Header Button 2" (onClick)="toggleButton2()" />
      </div>
    </app-footer>
    <app-custom-header>
      HELLO WORLD
    </app-custom-header>
    @if (button1Visible()) {
      <app-custom-header location="after" locateInMenu="auto">
        <dx-button text="Click me (1)" icon="info" />
      </app-custom-header>
    }
    @if (button2Visible()) {
      <app-custom-header location="after" locateInMenu="auto">
        <dx-button text="Click me (2)" icon="info" />
      </app-custom-header>
    }
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
